html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#leftControlContainer, #rightControlContainer {
  position: absolute;
  bottom: 0;
  font-family: monospace;
}

#leftControlContainer { left: 0; }
#rightControlContainer { right: 0; }

#fpsContainer {
  position: absolute;
  top: 0;
  right: 0;
  font-family: monospace;
}
